OPENAI_API_KEY=sk-1235
# Put your Notion tokens here, ensure that the environment variables names for each user are the same as the ones in data/users.json value for the "notion_token_env_var_name" key.
SJAR_NOTION_TOKEN=ntn_12345
CB_NOTION_TOKEN=ntn_67890