OPENAI_API_KEY=sk-youropenaiapikeyinfohere

# Put your Notion tokens here, ensure that the environment variables names for each user are the same as the ones in data/users.json value for the "notion_token_env_var_name" key.
SJAR_NOTION_TOKEN=ntn_notionkeyinfohere
CB_NOTION_TOKEN=ntn_user2notionkeyinfohere

# These parameters set the cropping region of interest for the camera.
ROI_X=0
ROI_Y=400
ROI_WIDTH=1100
ROI_HEIGHT=1600